<!-- Single Event Section Start -->
<div class="single-event-section section pb-90">
    <div class="container">
        <div class="row">

            <!-- Single Event Wrapper -->
            <div class="single-event-wrapper col-sm-16 col-12 mb-50">

                <!-- Title -->
                <h2 class="title">{{eventDetailsComponent.event.name}}</h2>

                <!-- Meta -->
                <div class="meta fix">

                    <a href="#"><i class="pe-7s-map-marker"></i><span>{{eventDetailsComponent.event.location}}</span></a>
                    <a href="#"><i class="pe-7s-date"></i><span>{{eventDetailsComponent.event.eventstart}}</span></a>
                    <a href="#"><i class="pe-7s-ticket"></i><span>{{eventDetailsComponent.event.categoryname}}</span></a>

                </div>

                <!-- Image -->
                <div class="image">
                    <div class="image-slider"></div>
                    <img src="{{eventDetailsComponent.event.url}}" alt="Event Detail">

                </div>

                <!-- Ticket Form -->
                <div class="col-12">
                    <h4 class="sub-title">Buy Tickets:</h4>
                    <div class="table-responsive mb-30">
                        <table class="table cart-table text-center">

                            <!-- Table Head -->
                            <thead>
                                <tr>
                                    <th class="name">Ticket</th>
                                    <th class="quantity">Quantity</th>
                                    <th class="price">price</th>
                                    <th class="total">total</th>
                                </tr>
                            </thead>

                            <!-- Table Body -->
                            <tbody>
                                <tr ng-repeat="price in eventDetailsComponent.event.prices">
                                    <td><a href="#" class="cart-pro-title">{{price.name}}</a></td>
                                    <td>
                                        <div class="product-quantity">
                                            <input type="text" value="0" name="qtybox" ng-model="price.selectedQuantity">
                                        </div>
                                    </td>
                                    <td>
                                        <p class="cart-pro-price">{{price.price}}</p>
                                    </td>
                                    <td>
                                        <p class="cart-price-total">{{eventDetailsComponent.calculatePrice(price)}}</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <!-- Cart Action -->
                    <div class="row">
                        <!-- Cart Action -->
                        <div class="cart-action col-lg-4 col-md-6 col-12 mb-30">
                            <h4 style="font-family: Montserrat, sans-serif;text-transform:uppercase;color:#282828;font-size: 14px;font-weight: 700;line-height: 14px;"><span>Grand total:   </span><span>Rs. {{eventDetailsComponent.calculateTotalPrice()}}</span></h4>
                            <button class="btn btn-dark btn-hover-red" data-toggle="modal" data-target="#user-details">Buy tickets</button>
                        </div>

                    </div>

                </div>

                <!-- Description -->
                <div class="description fix">

                    <h4 class="sub-title">Event Description:</h4>

                    <p>
                        {{eventDetailsComponent.event.description}}
                    </p>

                </div>

                <!-- Contact Map Section Start -->
                <div class="contact-map-section section bg-light-gray">
                    <div class="container">
                        <div class="row">

                            <!-- Contact Map Content Start -->
                            <div class="contact-map-content col-lg-5 col-12">
                                <h2>Where is it happening?</h2>
                                <p>{{eventDetailsComponent.event.address}}</p>
                            </div>

                        </div>
                    </div>

                    <!-- Map Section Start -->
                    <div id="map-one" class="contact-google-map"></div>
                    <!-- Map Section End -->

                </div>
                <!-- Contact Map Section End -->

                <!-- Event Creator -->
                <!-- <div class="event-creator fix"> -->

                <!-- Image -->
                <!-- <div class="image float-left"><img src="dist/img/speaker/6.jpg" alt="Event Creator"></div> -->

                <!-- Content -->
                <!-- <div class="content fix"> -->
                <!-- <h4><a href="#">Tollar James</a></h4> -->
                <!-- <h6>Event Creator</h6> -->
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore -->
                <!-- et dolore magna aliqua.</p> -->
                <!-- </div> -->

                <!-- </div> -->
                
            </div>

        </div>
    </div>
</div>
<!-- Single Event Section End -->



<!-- Modal -->
<div id="user-details" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add your details</h4>
            </div>
            <div class="modal-body">
                <div class="col-12 mb-50">
                    <div class="form">
                        <form>
                            <div class="row">
                                <div class="input col-md-6 col-12 mb-20"><input type="text" required placeholder="First Name *"></div>
                                <div class="input col-md-6 col-12 mb-20"><input type="text" required placeholder="Last Name *"></div>
                                <div class="input col-md-12 col-12 mb-20"><input type="email" required placeholder="Email *"></div>
                                <div class="input col-12">
                                    <input type="submit" class="btn btn-dark btn-hover-red" value="Proceed to Payment">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>