<div class="news-section section pt-120 pb-90">
        <div class="container">
    
            <!-- Section Title Style Four -->
            <div class="row">
                <div class="section-title-four text-center col pb-70">
                    <h2>Squiry Picks</h2>
                </div>
            </div>
            <!-- Single Sidebar -->
            <div class="single-sidebar" style="margin-left:100px;margin-right:100px">
                <div class="sidebar-tags" >
    
                    <a ng-repeat="category in topEvents.eventCategories" href="#" >{{category.name}}</a>
                    <!-- <a href="#">Conferance</a>
                    <a href="#">Event</a>
                    <a href="#">EventPro</a>
                    <a href="#">Musicevent</a>
                    <a href="#">Themeforest</a>
                    <a href="#">Music</a>
     -->
                </div>
    
            </div>
            <div class="row">
    
                <!-- Blog Item Start -->
                <div ng-repeat="event in topEvents.events" class="blog-item col-lg-4 col-md-6 col-12 mb-30">
                    <a href="#!/events/{{event.name}}/{{event.id}}" class="btn btn-light-border btn-hover-light">Buy Ticket</a>
                    <!-- Image -->
                    <div class="image">
                            <img src="{{event.url}}" alt="singer">
                            <a href="#!/events/{{event.name}}/{{event.id}}" class="btn btn-light-border btn-hover-light">Buy Ticket</a>
                        </div>
                    <!-- Content -->
                    <div class="content fix">    
                        <h3 class="title"><a href="#!/events/{{event.name}}/{{event.id}}">{{event.name}}</a></h3>
                        <span class="date">{{event.eventstart}}</span>
                        <span>{{event.location}}</span>
                    </div>
    
                </div>
                <!-- Blog Item Start -->
    
                
    
            </div>
    
        </div>
    </div>
    